<h2 class="iapp-page-header"> 2014 Oscar nominated (and not-so-nominated) Movie Guide </h2>

<p class="iapp-page-chatter">Oscar season is officially here, and if you’re like some of us wannabe movie buffs, you may have let a few of 2014’s most notable movies slip through the cracks. USA TODAY's 2014 Movie Guide to the rescue. Your new favorite flick may be out there and you didn’t even know it.</p>
<div class="sort-wrapper">
	<div class="iapp-filters-wrap"></div> 
	<div id="card-wrap"></div>
</div>

<p class="iapp-credits"><strong>Credits:</strong> Ryan Carey-Mahoney, Mitchell Thorson, Lori Grisham, USA TODAY</p>

<div class="modal-overlay"></div>