<div class="iapp-info-text">
	<div class="close-card"></div>

	<h2 class="iapp-page-header"> 2014 Oscar nominated (and not-so-nominated) Movie Guide </h2>
	<p class="iapp-page-chatter">Oscar season is officially here, and if you’re like some of us wannabe movie buffs, you may have let a few of 2014’s most notable movies slip through the cracks. USA TODAY's 2014 Movie Guide to the rescue. Your new favorite flick may be out there and you didn’t even know it.</p>
	<div class="iapp-demo">
	<p class="demo"><b>Filter</b> movies by selecting <b>one</b> <span class="js-span"> or <b>multiple</b> categories <span></p>
	
	<div class="iapp-filters-wrap"></div> 
	<div class="iapp-filter-button get-started"> Get Started! </div>
		

	</div>

	<p class="time-stamp"></p>

</div>
<div class="overlay"></div>