article * {
   -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}

div.non-article-content{
  padding: 0 !important;
}

body, html, article {
  padding: 0;
  margin: 0;
}




article {
  padding: 0;
  width: 100% !important;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
