.button {
  background-color: $blue;
  color: white;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .5s;
  width: 120px;
  &:hover{
    cursor: pointer;
    background-color: $dark-blue;
    transition: background-color .5s;
  }
}
