.iapp-filter-button {
  border: solid 1px #9ed5fb;
  display: inline-block;
  color: $dark-blue;
  cursor: pointer;
  float: left;
  // background: none;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-right: 0.5em;
  text-transform: uppercase;

  &.iapp-selected {
    background: $dark-blue;
    color: white;
  }
}

.iapp-filters-wrap {
  @extend .group;
}

.iapp-filter-button-clear {
  @extend .iapp-filter-button;
  background: none;
  border: solid 1px $dark-red;
  color: $dark-red;
  display: none;
  &.show {
    display: inline-block;
  }
}