.iapp-page-wrap {
  margin: 0 auto;
  position: relative;
  width: 80%;
  @extend .group;
}


.popover {
  position: absolute; 
}

.loader {
  bottom: 0;
  display: block;
  left: 50%;
  // opacity: 0;
  position: fixed;
  transform: translate(-50%, 100%);
  transition: transform 200ms ease;
  width: 150px;
  z-index: 25;
  &.show {
    display: block;
    transform: translate(-50%, 0);
    transition: transform 200,s ease;
  }
}

@media (max-width: $breakPoint-medium) {
  

}

.iapp-vid-wrap {
  padding-bottom: 0;
  padding-top: 56.25%;
  position: relative;
  width: 100%;

  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.iapp-no-results-wrap {
  // border-radius: 8px;
  // box-shadow: $shadow-standard;
  // background-color: rgba(0, 0, 0, 0.5);
  // color: white;
  height: 200px;
  // max-width: 100%;
  // width: 300px;
  padding: 2em;
  h3 {
    color: $medium-grey;
    font-family: "Futura Today Bold", Arial,sans-serif;
    text-align: center;
  }
}