h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

.page-header {
  color: $dark-blue;
  font-family: "Futura Today Bold", Arial,sans-serif;
  font-size: 2.8em;
  margin: 0.5em 0;
  text-align: left;
  text-transform: uppercase;
}

.page-chatter {
  font: normal 1.2em/1.5 'arial','helvetica',sans-serif;
  color: #666;
  max-width: 30em;
}

.time-stamp {
  color: #aaa;
  font: normal 0.7em/1.5 'arial','helvetica',sans-serif;
  font-style: italic;
  margin: -2em auto 2em 0;
}

.topic-header, .card-question {
  color: $dark-blue;
  // border-bottom: solid 1px $dark-blue;
  font-family: "Futura Today Bold", Arial, sans-serif;
  font-size: 1.5em;
  // margin-bottom: 0.5em;
  // text-decoration: underline;
  text-transform: uppercase;

}

.topic-chatter {
  font-family: "Futura Today", Arial, sans-serif;
  max-width: 30em;
}

.hashtags {
  color: $light-blue;
  margin-top: 0;
}

@media (max-width: $breakPoint-medium) {
  .page-header {
    font-size: 1.8em;
  }
}

.card-question {
  display: inline-block;
  vertical-align:middle;
}

.card-back-header {
  color: $dark-blue;
  // border-bottom: solid 1px $dark-blue;
  font-family: "Futura Today Bold", Arial, sans-serif;
  margin-bottom: 0.5em;
  // text-decoration: underline;
  text-transform: uppercase;
}

.read-more-link {
  color: $blue;
}

.credits { 
  color: $medium-grey;
  clear: both;
  font-family: Arial, sans-serif;
  font-size: 12px;  
}

.summary {
  font-family: "Futura Today", Arial, sans-serif;
  font-weight: 400;
}