@import "bits";
@import "breakpoints";
@import "base";

// article * {
//    -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
//    -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
//     box-sizing:        border-box;   /* Everything else */
// }


article {
  font-size: 100%;
  @media (max-width: 500px) {
    font-size: 85%;
  }
}

article {
  background: $light-grey !important;
  font-family: "Futura Today Bold", Arial,sans-serif;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}




@import "typography";
@import "layout";
@import "card";
@import "modal";
@import "filters";